@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Inter", sans-serif;
}

.container {
  width: 669px;
  height: 390px;
  background-color: white;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}

.container .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .foto-mahasiswa {
  width: 197px;
  height: 197px;
  margin-top: 15px;
}

.container .head .logo-matana {
  width: 203px;
  height: 203px;
}

.mahasiswa {
  font-size: 24px;
  color: #14325c;
}

.prodi {
  color: #fbaa16;
  font-weight: 400;
  transform: translate(0, -20px);
  font-style: italic;
}

.nim {
  color: #14325c;
  text-transform: uppercase;
}
